[Unit]
Description=Drone
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ubuntu
Restart=always
ExecStart=/home/ubuntu/boot.sh

[Install]
WantedBy=multi-user.target