[Unit]
Description=Mongo
Requires=containerd.service
After=containerd.service

[Service]
WorkingDirectory=/home/ubuntu
Restart=always
ExecStart=/home/ubuntu/boot.sh

# Other directives omitted
# (file size)
LimitFSIZE=infinity
# (cpu time)
LimitCPU=infinity
# (virtual memory size)
LimitAS=infinity
# (locked-in-memory size)
LimitMEMLOCK=infinity
# (open files)
LimitNOFILE=64000
# (processes/threads)
LimitNPROC=64000

[Install]
WantedBy=multi-user.target