[Unit]
Description=Show
Requires=containerd.service
After=containerd.service

[Service]
WorkingDirectory=/home/ubuntu
Restart=always
ExecStart=/home/ubuntu/boot.sh

[Install]
WantedBy=multi-user.target